*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body
{
    background: linear-gradient(to right, #2d1e40, #1b2838);
    color: #fff;
}
/*----home-----*/
#header
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar {
    display: flex; 
    align-items: center; 
    margin: 0;
    padding: 0;
}
.navbar li {
    list-style: none; 
}
.navbar a{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 25px;
    transition: 0.3s;
}