*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html {

    scroll-padding-top: 100px;
}
body
{
    background: linear-gradient(to right, #2d1e40, #1b2838);
    color: #fff;
}
/*----home-----*/
#header
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.navbar {
    display: flex; 
    align-items: center; 
    margin: 0;
    padding: 0;
}
.navbar li {
    list-style: none; 
}
.navbar a{
    font-size: 20px;
    color:#fff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 25px;
    transition: 0.3s;
}
.navbar a:hover{
    color:#ffcc00;
}
section {
    padding: 10px 10%;
    scroll-margin-top: 80px; 
    margin-bottom: 0;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 10%;
    margin-bottom: 0;
}

.intro-text {
    max-width: 600px;
    margin-top: -100px;
}

.intro-text h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.6;
}

.intro-text h1 span {
    color: #ffcc00; 
}

.intro-text p {
    font-size: 22px;
    line-height: 1.4;
    margin-top: 0;
}
.sfu-link{
    background: transparent;
    color: white;
    text-decoration: none;
}
.sfu-link:hover {
    transform: scale(1.1); 
}
.aspiring-text {
    margin-top: 30px;         
}
.role {
    color: #ffcc00;
    line-height: 1.6;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    opacity: 0;
    animation: rotateText 12s infinite;
}

/* Keyframes to rotate the text */
@keyframes rotateText {
    0%, 10% {
        opacity: 1;
        content: "Software Developer";
    }

    20%, 30% {
        opacity: 0;
    }

    40%, 50% {
        opacity: 1;
        content: "Data Scientist";
    }

    60%, 70% {
        opacity: 0;
    }

    80%, 90% {
        opacity: 1;
        content: "Web Designer";
    }

    100% {
        opacity: 0;
    }
}
.intro-text .btn-box{
    width: 345px;
    height: 50px;

}
.btn-box {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap; 
    margin-top: 40px;
}
.btn-box a {
    display: inline-block;
    padding: 12px 30px; 
    border: 2px solid #ffcc00; 
    background: transparent; 
    color: #ffcc00; 
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 200px;
    border-radius: 8px;
    transition: all 0.3s ease;
    white-space: nowrap; 
}

.btn-box a:hover {
    background: #ffcc00; 
    color: #1b2838;
}

.profile-container {
    flex: 1;
    display: flex;
    margin-top: -100px;
    justify-content: flex-end; 
}
.profile-pic {
    width: 350px; 
    height: auto;
    max-height: 85vh;
    border-radius: 10px;
    opacity: 0.9; 
    filter: drop-shadow(10px 10px 20px rgba(255, 255, 255, 0.2)); 
}
/*----about----  */
#about{
    padding: 80px 0;
    margin-top: -150px;
    color: #fff;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    position: relative;
    left: 150px;
    width: 400px; 
    height: auto;
    max-height: 85vh;
    border-radius: 50%; 
    opacity: 0.9; 
    filter: drop-shadow(10px 10px 20px rgba(255, 255, 255, 0.2)); 
   
    object-fit: cover; 
}
.about-col-2 {
    flex-basis: 60%;
    padding-left: 20px;
}

.about-col-2 p {
    margin-right: 100px; 
}
.sub-title{
    font-size: 40px;
    font-weight: 600;
    color:#fff;
    position: relative;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffcc00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ffcc00;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*----skills----*/
#portfolio{
    padding: 30px 0;

}
#portfolio h1 {
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 30px; 
}

.skill-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 20px; 
}
.skill-list div{
    background: #3a245f;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    margin: 10px;
    transition: background 0.5s, transform 0.5s;
}
.skill-list div i{
    font-size: 100%;
    margin-bottom: 30px;
}
.skill-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.skill-list div:hover{
    background:  #D4A5E0;
    transform: translateY(-10px);
}
/*----projects----*/
#projects{
    padding: 30px 0;

}
.sub-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 20px; 
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width:100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #D4A5E0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 400;
    margin-bottom: 30px;
}
.layer a{
    margin-top: 20px;
    color:#D4A5E0;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

